<!DOCTYPE html>
<html lang="en-US">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<body>


<div ng-app="myApp" ng-controller="EnabledController"> 

	<h1 ng-bind="displaydata.name"></h1>
	<p ng-if="displaydata.description">Description: {{displaydata.description}}</p>
	<p ng-if="displaydata.url">Url: {{displaydata.url}}</p>
	<p ng-if="displaydata.phone">Phone: {{displaydata.phone}}</p>
	<p ng-if="displaydata.email">Email: {{displaydata.email}}</p>
	<p ng-if="displaydata.point_of_contact">Point of contact: {{displaydata.point_of_contact}}</p>

	<h3 ng-if="displaydata.sections">Sections</h3>

	<ul>
	  <li ng-repeat="section in displaydata.sections">
	    <button ng-click="changeSection(section)">{{ section.name }}</button>
	  </li>
	</ul>
	
	<ul>
	  <li ng-repeat="contact in displaydata.contacts">
	    <button ng-click="changeSection(contact)">{{ contact.name }}</button>
	  </li>
	</ul>

	

	</ul>


	<button ng-click="changeSection()"> Back </button>
</div>

<script src="enabledController.js"> </script>